.highlight__section {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

/* Wrapper que vai fazer o scroll */
.highlight__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    overflow-y: scroll;
    scrollbar-width: none;
    overflow-y: scroll;
    padding: 0 0 3rem;
}

.highlight__content {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    scroll-snap-align: start;
    padding: 20px;

}
.highlight__content::-webkit-scrollbar {
    display: none;
}

.highlight__title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    max-width: 400px;
}

.highlight__description {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.5;
    max-width: 420px;
}

.highlight__button {
    background-color: red;
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content;
}

.highlight__button:hover {
    background-color: darkred;
}

/* Imagem que está dentro do wrapper */
// .highlight__image-wrapper {
//     width: 100%;
//     min-height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     scroll-snap-align: start;
// }

.highlight__image {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}

.progress__bar {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.progress__fill {
    width: 100%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}


/* Estilização da barra de rolagem do highlight__wrapper */

/* WebKit (Chrome, Safari, Edge) */

// /* Firefox */
.highlight__wrapper::-webkit-scrollbar {
       display: none;
         scrollbar-width: none;
}

.highlight__images-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 100%;
    padding: 2rem 0;
}

.highlight__image-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight__grid-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
